/* Modal.css */

.recruit__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.recruit__modal {
  background-color: #F7F7F7;
  height: fit-content;
  text-align: center;
  position: relative;
}

.recruit__open_button {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #590091;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #ebdbf3;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}

.recruit__open_button_text {
  position: fixed;
  bottom: 110px;
  left: 30px;
  width: max-content;
  background-color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 20px;
  color: #590091;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.recruit__open_button:hover ~ .recruit__open_button_text {
  opacity: 1;
}

.recruit__open_button_text::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0px 0px 10px;
  border-color: white transparent transparent transparent;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
  transform: translateX(50%);
}

.recruit__title > h2{
  font-size: 24px;
  font-weight: 700;
  display: inline-block; 
  position: relative;
}

.recruit__title > h2::after{
  width:100%;
  content:"";
  height: 10px;
  display: inline-block;
  background: #6a2c9179;
  position: absolute;
  bottom:0;
  left:0;
}

.recruit__title > p {
  text-align: left;
}

.recruit__section {
  text-align: left;
}

.recruit__section > h4 {
  position: relative;
  background-color: #6b2c91;
  width: 80px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
  color: white;
  margin-bottom: 15px;
}

.recruit__section > h4::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 10px;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-right-color: #6b2c91;
}
.recruit__close_top {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 24px;
  color: #cacaca;
  padding: 10px 15px;
  font-size: 12px;
}

.recruit__buttons {
  display: flex;
  justify-content: space-between;
}

.recruit__modal img {
  max-height: 80vh;
  max-width: 80vw;
  height: auto;
  width: auto;
  display: block;
}

.recruit__buttons div {
  background-color: #590091;
  color: white;
  flex:1;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.recruit__buttons div:first-child {
  border-right: 1px solid white;
}