.wata {
  display: flex;
  flex-direction: column; /*세로*/

  height: 200px;
  width: 300px;

  color: white;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
}

.wata .wata__header {
  display: flex;
  flex-direction: column;

  background-color: #170c1e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.wata__header .header__row {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.header__titles {
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

.header__titles .header__title {
  margin-right: 5px;
}

.header__bookmark {
  cursor: pointer;
  font-size: 16px;
}

.header__bookmark.bookmark {
  color: #ffcd27;
}

.header__creator {
  font-size: 14px;
  color: white;
  opacity: 0.6;
}

.header__categorys {
  margin-left: auto;
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
  opacity: 0.6;
}

.header__categorys .categorys__category {
  margin-left: 10px;
}

.wata .wata__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-color: #170c1e;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.wata__body:hover {
  opacity: 0.7;
}

.wata__body .wata__platforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}

.wata__platforms .platforms__platform {
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
}

.wata__platforms .platforms__platform:hover {
  background-color: white;
  color: black;
}

.wata__body .wata__keywords {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  color: white;
  opacity: 0.8;
}

.wata__keywords .keywords__keyword {
  margin: 5px;
}

.wata__footer {
  margin-top: auto;

  background-color: #170c1e;
  opacity: 0.6;
}

.wata__footer .footer__cautions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__cautions .cautions__caution {
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.cautions__caution .caution {
  padding: 10px;
}
