.pagination {
  width: 70%;
  max-width: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pagination ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.pagination ul li:hover {
  opacity: 0.5;
}

.current_page {
  border-bottom: 2px solid #9023d5;
  color: #9023d5;
}
