.header-container {
  background-color: #170c1e;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0px 30px 0px;
  width: 960px;
}

.header-contents .header-contents__col {
  display: flex;
  align-items: flex-end;
  flex: none;
}

.header-contents-col__title {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.header-contents-col__title .title__logo {
  max-width: 150px;
}

.header-contents-col__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  color: #783b99;
  cursor: pointer;
}

.header-contents-col__icon i {
  font-size: 20px;
}

.header-contents-col__icon .icon__label {
  font-size: 14px;
  margin-left: 5px;
  color: white;
  opacity: 0.6;
}

.header__header-column .open_bookmark {
  color: #ffcd27;
}

.header__header-column .open_bookmark .icon__label {
  opacity: 1;
}
