.about-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 24px;
}

.about-box__col {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-box__row {
  width: 70%;
  margin: 50px 30px 50px 30px;
}

.width-half {
  width: 30%;
}

.about-box__row h4 {
  color: #9023d5;
  font-size: 16px;
  font-weight: 600;
}

.puple-box {
  background-color: #efe0fd;
}

.left-bar {
  display: block;
  border-left: #9023d5 3px solid;
  padding-left: 10px;
}

.about-box__p {
  font-size: 14px;
  display: flex;
  margin: 10px;
}

.puble-color {
  color: #9023d5;
  font-weight: 500;
}

.item-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anythinglisting4 ul {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.anythinglisting4 ul::before {
  border-left: 2px solid rgb(144, 35, 213, 0.3);
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  height: 100%;
  z-index: 0;
}

.anythinglisting4 ul li {
  position: relative;
  padding: 15px 0 15px 40px;
}

.anythinglisting4 ul li::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #efe0fd;
  border: 2px solid rgb(146, 35, 215, 0.3);
  left: 0;
  text-align: center;
  top: 20px;
  content: "";
  border-radius: 50%;
  color: #9023d5;
}

.item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-header {
  margin: 10px;
}

.up-btn {
  cursor: pointer;
  margin-top: 30px;
  color: #9023d5;
}

.up-btn i,
.up-btn span {
  margin: 5px;
}

.up-btn i {
  padding-top: 5px;
}
