.email {
  position: fixed; /*absolute 하면 스크롤 시 세로가 확장 안됨*/
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: 0.5s;
}

.email .email__popup {
  z-index: 2;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -350px;
  width: 700px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.email__popup .popup__header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
}

.popup__header .header__colomn {
  display: flex;
  align-items: center;
}

.popup__header .header__colomn i {
  color: #9023d5;
  margin: 10px;
}

.popup__body form {
  display: flex;
  flex-direction: column;
}

.popup__body form .body__colomn {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

textarea {
  resize: none;
  font-size: 15px;
  padding: 10px;
  font-family: "Noto Sans KR", sans-serif;
}

.header__colomn .close-button {
  cursor: pointer;
}
