.email-popup-overlay {
  position: fixed; /*absolute 하면 스크롤 시 세로가 확장 안됨*/
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.email-popup-container {
  position: fixed;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 50px;
  width: 80%;
  height: 100%;
  max-height: 700px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-width: 500px;
  min-width: 300px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.email-popup-container__header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.email-popup-container__header .header__colomn {
  display: flex;
  align-items: center;
}

.email-popup-container__header .header__colomn i {
  color: #9023d5;
  margin: 10px;
}

.popup__body {
  width: 100%;
}

.popup__body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popup__body form .body__colomn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
}

.colomn__header {
  margin: 10px;
  color: #9023d5;
}

.colomn-body__colomn {
  display: flex;
  margin: 10px;
  width: 100%;
}

.body__colomn .colomn__body {
  width: 100%;
}

.colomn-body__colomn label {
  display: flex;
  width: 100%;
  align-items: flex-start;
  font-size: 14px;
  margin-right: 20px;
  padding-top: 7px;
}

input[type="email"],
input[type="text"] {
  padding: 5px 7px 5px 7px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;

  border-radius: 50px;
  border: 1.5px solid #9023d5;

  border-radius: 50px;
}

input[type="email"]:focus,
input[type="text"]:focus {
  outline: none;
}

.radio-container {
  display: inline-block;
  overflow: hidden;
}
.radio-box {
  float: left;
  height: 30px;
  width: 50%;
}
.radio-container input[type="radio"] {
  display: none;
}
.radio-container label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 27px;
  border: 1.5px solid #9023d5;
  border-right: none;
  user-select: none;
  font-size: 14px;
}

.radio-container .radio-box:first-child label {
  border-radius: 6px 0 0 6px;
  height: 30px;
}
.radio-container .radio-box:last-child label {
  border-radius: 0 6px 6px 0;
  border-right: 1.5px solid #9023d5;

  height: 30px;
}

/* Checked */
.radio-container input[type="radio"]:checked + label {
  background: #9023d5;
  color: white;
}

/* Hover */
.radio-container label:hover {
  color: #666;
}

/* Disabled */
.radio-container input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}
.colomn-body__colomn .textarea {
  width: 100%;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #9023d5;
  font-family: "Noto Sans KR", sans-serif;
}

.header__colomn .close-button {
  cursor: pointer;
  font-size: 25px;
}

input[type="submit"] {
  border-radius: 7px;
  border: 1.5px solid #9023d5;
  background: #9023d5;
  color: white;
  height: 30px;
  width: 100%;
}
