.footer-container {
  margin-top: 100px;
  background-color: #170c1e;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contents {
  width: 65%;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-contents__col {
  display: flex;
  flex-direction: column;
}

.footer-contents-col__row {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer-contents-col__row .email-label,
.footer-contents-col__row .account-label {
  font-size: 12px;
  margin: 5px;
}

.footer-contents-col__row .email,
.footer-contents-col__row .account {
  font-size: 12px;
  margin: 5px;
}

.footer-contents__col.sns {
  display: flex;
  flex-direction: row;
}

.footer-contents__col .sns-logo {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
}
