.footer-container {
  margin-top: 50px;
  background-color: #170c1e;
  padding: 30px 200px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container__col {
  display: flex;
  flex-direction: column;
}

.footer-container-col__row {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer-container-col__row .email-label,
.footer-container-col__row .account-label {
  font-size: 12px;
  margin: 5px;
}

.footer-container-col__row .email,
.footer-container-col__row .account {
  font-size: 16px;
  margin: 5px;
}

.footer-container__col .sns-logo {
  font-size: 30px;
  color: #1da1f2;
  margin: 10px;
}
