.pagination {
    width: 960px;
    margin-top : 50px;
}

.pagination ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pagination ul li {
    cursor: pointer;
}

.pagination ul li:hover {
    background-color: gray;
}